name: Deploy Functions

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "functions/**"

jobs:
  deploy:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Set Node.js version
        uses: actions/setup-node@v4
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: |
            package-lock.json
            functions/package-lock.json
      - name: Create functions env
        run: |
          cat <<'EOF' > functions/.env
          APP_ENV=production
          EOF
      - name: Create service account file
        run: echo '${{ secrets.FIREBASE_SERVICE_ACCOUNT_AKASHIC_GAME_DRIVE }}' > $RUNNER_TEMP/gcloud.json
      - name: npm ci
        run: npm ci && npm --prefix ./functions ci
      - name: Deploy functions
        env:
          GOOGLE_APPLICATION_CREDENTIALS: ${{ runner.temp }}/gcloud.json
        run: npm run deploy:functions
